.people-list{
   height: 80%;
   width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 1em;
    text-align: center;
    align-items: center;
    
}
.people-list__list{
    display: flex;
    flex-direction: column;
    justify-content: left; 
    flex-wrap: wrap;


}